@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.arrow-icon {
  margin-left: 0.5rem; /* equivalent to Tailwind's ml-2 */
  width: 20px;        /* equivalent to Tailwind's w-5 */
  height: 20px;       /* equivalent to Tailwind's h-5 */
  transition: transform 0.3s ease; /* Smooth transition for rotation */
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-0 {
  transform: rotate(0deg);
}